html, body {
	margin: 0;
	padding: 0;
	background: url("../img/fondo3.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 380px;
}

a {
	text-decoration: none;
}

h2 {
	display: block;
	text-align: center;
	font-size: 30px;
	color: white;
}

/* -----------CABECERA MEN�S------------ */
.cabecera {
	color: rgb(23, 24, 23);
	background-color: #f4d03f;
	opacity: 0.9;
	justify-content: center;
	margin-bottom: 25px;
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
	justify-content: center;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	list-style-type: none;
}

li {
	width: 100%;
}

li a:hover {
	background-color: rgb(23, 24, 23);
	color: #f4d03f;
}

li a, .dropbtn {
	width: 100%;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	color: rgb(32, 30, 30);
	text-align: center;
	padding: 16px 0 16px 0;
	text-decoration: none;
	font-family: 'Francois One', sans-serif;
}

li .dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: #f9e79f;
	width: 25%;
}

/* -----------CONTENEDORES PRINCIPALES------------ */
#contenido {
	font-size: 18px;
	font-family: 'Cuprum', sans-serif;
	margin: 95px auto 0 auto;
}

#contenedorItinerarios, #contenedorActividades, #infoActividad,
	#contenedorReservas, #contenedorAjustes, #contenedorPruebasC,
	#contenedorPruebasD {
	display: flex;
	flex-flow: row wrap;
	margin: 0 30px 0 30px;
}

#contenedorParadas {
	display: block;
	margin: 0 30px 0 30px;
}

#contenedorActividad {
	width: 300px;
	margin: 0 auto 0 auto;
}

#reservas, #ajustes, #pruebas {
	width: 600px;
	margin: 0 auto 0 auto;
}

#ajustes, #paradas, #pruebas, #actividad, .cabecera i, hr {
	display: none;
}

#pruebas form {
	color: white;
	margin: 0 auto 0 auto;
	text-align: center;
}

.mapItinerario, .mapParada {
	border: 1px solid #f4d03f;
	margin: 0 auto 20px auto;
	width: 500px;
	height: 250px;
}

.imagenActividad {
	border: 1px solid #f4d03f;
	margin: 0 auto 0 auto;
	width: 270px;
	height: 250px;
}

.datosParadas, .datosActividad, .datosPrueba {
	width: 80%;
	margin: 20px auto 35px auto;
	padding: 10px;
	text-align: justify;
	color: white;
	border: 2px solid #f4d03f;
}

/* -----------TITULOS Y NOMBRES------------ */
.nombreItinerario, .nombreActividad, .nombreParada, .nombrePrueba {
	width: 100%;
	padding: 0;
	border: none;
	font-family: 'Cuprum', sans-serif;
	color: #e3b90d;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px
		black;
	font-size: 40px;
	font-weight: 600;
	margin: 20px auto 20px auto;
	background: none;
	outline: none;
	text-align: center;
}

.nombreItinerario:hover, .nombreActividad:hover {
	color: orange;
	cursor: pointer;
}

/* -----------BOTONES------------ */
.boton {
	display: block;
	border: none;
	font-family: 'Francois One', sans-serif;
	color: #f4d03f;
	font-size: 25px;
	font-weight: 400;
	cursor: pointer;
	margin: 20px auto 20px auto;
	border: none;
	background: none;
	outline: none;
}

.boton:hover {
	color: orange;
}

.reservar {
	width: 100%;
	text-align: center;
	margin: 20px auto 80px auto;
}

.botonesPruebas {
	display: flex;
	flex-wrap: wrap;
}

.cargarPC, .cargarPD {
	width: 230px;
	border: none;
	font-family: 'Cuprum', sans-serif;
	color: white;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	background: none;
	outline: none;
	padding: 0;
	margin: 10px auto 5px auto;
}

/**TABLAS FILAS Y COLUMNAS**/
td, th {
	height: 30px;
	padding: 0.5em;
	border: 2px solid #dadada;
}

th {
	background-color: #f4d03f;
	font-weight: 900;
}

th:hover {
	cursor: pointer;
}

td {
	text-align: center;
	font-size: 17px;
}

tr td:hover {
	background-color: #666;
	color: white;
}

tr:nth-child(odd) {
	background-color: transparent;
}

tr:nth-child(even) {
	background-color: transparent;
}

table {
	margin: 10px auto 0 auto;
	border-collapse: collapse;
}

table a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

table a:hover {
	text-decoration: none;
	color: white;
}

/**FORMULARIOS**/
form label {
	color: white;
	font-size: 20px;
	font-weight: 600;
	margin: 0 auto 0 20px;
}

input {
	margin-left: 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #f4d03f;
	outline: none;
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	background-color: transparent;
}

input[name="email"] {
	width: 300px;
}

input[name="password1"], input[name="password2"] {
	width: 150px;
}

.submit {
	text-align: center;
}

.inputSubmit {
	font-size: 22px;
	font-weight: 600;
	background-color: transparent;
	color: white;
	font-family: 'Cuprum', sans-serif;
	border: none;
	outline: none;
	border: none;
}

.inputSubmit:hover {
	cursor: pointer;
}

#errorPass {
	display: none;
	color: red;
	font-size: 18px;
	font-weight: 600;
}

/**Navegadores**/
-webkit-keyframes autofill {to { color:white;
	background: transparent;
}

}
input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

::placeholder { /* Firefox */
	color: #c9c9c9;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #c9c9c9;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #c9c9c9;
}

/**MEDIA QUERIES**/
@media ( max-width : 600px) {
	html, body {
		
	}
	h2 {
		font-size: 20px;
	}
	form label {
		font-size: 18px;
	}
	input {
		margin-left: 5px;
		font-size: 15px;
	}
	input[name="email"] {
		width: 200px;
	}
	input[name="password1"], input[name="password2"] {
		width: 120px;
	}
	.submit {
		text-align: center;
	}
	.inputSubmit {
		font-size: 34px;
	}
	#errorPass {
		font-size: 15px;
	}
	#contenido {
		margin: 80px auto 40px auto;
		align-items: center;
	}
	.cabecera i {
		font-size: 25px;
		display: block;
	}
	.cabecera span, .datosParadas, .datosActividad, .datosPrueba {
		display: none;
	}
	.boton {
		display: block;
		font-size: 20px;
		margin: 0 auto 20px auto;
	}
	.mapItinerario, .mapParada {
		width: 300px;
		height: 200px;
	}
	#reservas, #ajustes {
		width: 380px;
	}
	.tituloParada, .nombreItinerario, .nombreActividad, .nombrePrueba {
		font-size: 30px;
	}
}