html, body {
	margin: 0;
	padding: 0;
	background: url("../img/fondo3.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
	text-decoration: none;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	list-style-type: none;
}

li {
	width: 100%;
}

li a, .dropbtn {
	width: 100%;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	color: rgb(32, 30, 30);
	text-align: center;
	padding: 16px 0 16px 0;
	text-decoration: none;
	font-family: 'Francois One', sans-serif;
}

li .dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: #f9e79f;
	width: 100%;
}

li a:hover {
	background-color: rgb(23, 24, 23);
	color: #f4d03f;
}

.cabecera {
	color: rgb(23, 24, 23);
	background-color: #f4d03f;
	opacity: 0.9;
	justify-content: center;
	margin-bottom: 25px;
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
	justify-content: center;
}

.cabecera i {
	display: none;
}

#contenido {
	font-size: 18px;
	font-family: 'Cuprum', sans-serif;
	margin: 95px auto 0 auto;
}

.botonesItinerario {
	width: 100%;
	padding: 0;
	border: none;
	font-family: 'Cuprum', sans-serif;
	color: #f4d03f;
	font-size: 40px;
	font-weight: 600;
	cursor: pointer;
	margin: 20px 0 20px 0;
	border: none;
	background: none;
	outline: none;
}

.botonesItinerario:hover {
	color: orange;
}

.mapItinerario {
	border: 1px solid #f4d03f;
	margin: 0 auto 20px auto;
	width: 500px;
	height: 250px;
}

.mapParada {
	border: 1px solid #f4d03f;
	margin: 0 auto 0 auto;
	width: 500px;
	height: 250px;
}

#contenedorItinerarios {
	display: flex;
	flex-direction: column;
}

#contenedorParadas {
	display: flex;
	flex-direction: column;
}

#volver {
	display: block;
	border: none;
	font-family: 'Cuprum', sans-serif;
	color: #f4d03f;
	font-size: 25px;
	font-weight: 600;
	cursor: pointer;
	margin: 20px auto 20px auto;
	border: none;
	background: none;
	outline: none;
}

#volver a {
	margin-left: 10px;
}

.datosParadas {
	width: 480px;
	margin: 20px auto 35px auto;
	padding: 10px;
	text-align: justified;
	color: white;
	border: 2px solid #f4d03f;
}

.tituloParada {
	width: 100%;
	margin: 10px auto 10px auto;
	color: orange;
	font-weight: 600;
	font-size: 40px;
	text-align: center;
}

/**MEDIA QUERIES**/
@media ( max-width : 600px) {
	html, body {
		
	}
	#contenido {
		margin: 50px auto 40px auto;
		align-items: center;
	}
	#volver {
		display: block;
		margin: 80px auto 20px auto;
	}
	.mapItinerario, .mapParada {
		margin-top: 20px;
		width: 300px;
		height: 200px;
	}
	.tituloParada, .botonesItinerario {
		font-size: 30px;
	}
	.datosParadas {
		display: none;
	}
	.botonesItinerario {
		margin-top: 40px;
	}
	.cabecera i {
		font-size: 25px;
		display: block;
	}
	.cabecera span {
		display: none;
	}
	/*
	.dropdown-content a {
		padding: 12px 16px;
	}
	.dropdown:hover .dropdown-content {
		width: 100%;
	}
	*/
}