* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	color: #6E6E6E;
	font-size: 13px;
	font-family: Optima, sans-serif;
}

input, textarea {
	background: #FFFFFF url(images/img09.gif) repeat-x;
	border: 1px solid #FFFFFF;
	border-top-color: #A3A3A3;
	border-left-color: #D6D6D6;
	color: #6E6E6E;
}

.logo {
	margin: 80px 0 30px 0;
}

.logo a {
	text-decoration: none;
	font-size: 36px;
}

.page {
	width: 800px;
	margin-left: 160px;
}

.contenedor {
	width: 100%;
}

h1 {
	font-size: 29px;
	font-family: Optima, sans-serif;
	text-decoration: none;
}

h2 {
	font-size: 23px;
}

a {
	color: #346086;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

table {
	color: #333;
	border-collapse: collapse;
	border-radius: 1em;
	overflow: hidden;
}

td, th {
	height: 30px;
	padding: 0.5em;
	border-bottom: 2px solid white;
}

th {
	background-color: #346086;
	color: white;
	font-weight: bold;
	font-size: 17px;
}

td {
	text-align: center;
	font-size: 14px;
}

tr td:hover {
	background: #666;
	color: #FFF;
}

tr:nth-child(odd) {
	background-color: #d0d0d0;
}

tr:nth-child(even) {
	background-color: #fbfbfb;
}

table {
	margin-top: 40px;
}

table a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

table a:hover {
	text-decoration: none;
	color: white;
}

input[type=submit] {
	font-size: 15px;
	color: black;
	border-radius: 15px;
	padding: 5px;
	border: 1px solid black;
}

p {
	font-weight: bold;
	margin-top: 15px;
}

p, ul {
	line-height: 190%;
}

ul {
	width: 120px;
	height: 550px;
	margin-left: 10px;
	list-style-type: none;
	padding-top: 10px;
	background-color: #666666;
	position: fixed;
	overflow: auto;
	border-radius: 20px;
}

li {
	margin-top: 20px;
	display: block;
	padding: 0 5px 0 5px;
	text-align: center;
}

li a {
	font-family: Optima, sans-serif;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 140%;
	outline: none;
	text-decoration: none;
	font-weight: 500;
}

li a:hover {
	transition: 0.5s;
	color: #a1c3ff;
	font-size: 19px;
	cursor: pointer;
	outline: none;
}

form {
	padding: 2px;
	cursor: pointer;
	display: block;
	width: 290px;
	margin: 0 auto;
	text-align: left;
}

.insertar {
	display: inline;
	text-decoration: none;
}

#divclientes, #divitinerarios, #divactividades, #divnoticias,
	#divparadas, #divroles, #divcomentarios, #divvotos, #divmultimedias,
	#divpruebasculturales, #divpruebasdeportivas, #divpremios {
	display: none;
}