* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	color: #6E6E6E;
	font-size: 13px;
	font-family: Optima, sans-serif;
}

input, textarea {
	background: #FFFFFF url(images/img09.gif) repeat-x;
	border: 1px solid #FFFFFF;
	border-top-color: #A3A3A3;
	border-left-color: #D6D6D6;
	color: #6E6E6E;
}

.page {
	width: 700px;
	margin-left: 15%;
}

.contenedor {
	float: left;
	width: 600px;
}

h1 {
	font-size: 38px;
	margin-bottom: 1.2em;
	font-family: Optima, sans-serif;
	text-decoration: none;
	text-align: center;
	width:100%;
}

h2 {
	margin: 0 auto;
	font-size: 23px;
	text-align: center;
	width:100%;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 190%;
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}

a {
	color: #346086;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin-right: 20px;
}

img.right {
	float: right;
	margin-right: 20px;
}

hr {
	display: none;
}

table {
	color: #333;
	width: 1000px;
	border-collapse: collapse;
}

td, th {
	border: 1px solid black;
	height: 30px;
	padding-left: 3px;
	padding-right: 3px;
}

th {
	background: #D3D3D3;
	font-weight: bold;
	font-size: 17px;
}

td {
	background: #FAFAFA;
	text-align: center;
	min-width: 30px;
	font-size: 14px;
}

tr td:hover {
	background: #666;
	color: #FFF;
}

table a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

table a:hover {
	text-decoration: none;
	color: white;
}

.logo {
	width: 870px;
	height: 135px;
	margin: 0 auto;
}

.logo h1 {
	margin: 0;
	float: left;
	padding-top: 75px;
}

.logo a {
	text-decoration: none;
	color: rgb(63, 62, 62);
}

ul {
	list-style-type: none;
	padding-top: 10px;
	margin: 50px 20px;
	width: 10%;
	background-color: #f1f1f1;
	position: fixed;
	overflow: auto;
}

li {
	display: block;
	color: black;
	text-decoration: none;
	padding: 0 5px 0 5px;
	text-align: center;
}

li a {
	font-family: Optima, sans-serif;
	border: none;
	background-color: transparent;
	color: black;
	font-size: 22px;
	outline: none;
	text-decoration: none;
	font-weight: 500;
}

li a:hover {
	transition: 0.5s;
	font-size: 23px;
	cursor: pointer;
	outline: none;
}

button {
	border: none;
	background-color: transparent;
	color: black;
	font-size: 20px;
	outline: none;
}

button:hover {
	transition: 0.5s;
	font-size: 21px;
	cursor: pointer;
	outline: none;
}

form {
	padding: 2px;
	cursor: pointer;
	display: block;
	width: 290px;
	margin: 0 auto;
	text-align: left;
}

input[type=submit] {
	font-size: 14px;
	color: black;
	border-radius: 15px;
	padding: 5px;
	border: 1px solid black;
}

.insertar {
	text-decoration: none;
	display: block;
	margin-top: 20px;
	color: #414141;
	font-size: 25px;
	color: #414141;
	color: #414141;
	text-align: center;
}

#divclientes, #divitinerarios, #divactividades, #divnoticias,
	#divparadas, #divroles, #divcomentarios, #divvotos, #divmultimedias,
	#divpruebasculturales, #divpruebasdeportivas, #divpremios {
	display: none;
}