<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		
	
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gamitour</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">temporal</property>
	
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">true</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="hibernate.jdbc.use_get_generated_keys">true</property>
		<mapping class="com.proyecto.modelo.Actividad" />
		<mapping class="com.proyecto.modelo.Rol" />
		<mapping class="com.proyecto.modelo.Multimedia" />
		<mapping class="com.proyecto.modelo.PruebaCultural" />
		<mapping class="com.proyecto.modelo.Voto" />
		<mapping class="com.proyecto.modelo.Comentario" />
		<mapping class="com.proyecto.modelo.Cliente" />
		<mapping class="com.proyecto.modelo.Noticia" />
		<mapping class="com.proyecto.modelo.PruebaDeportiva" />
		<mapping class="com.proyecto.modelo.Premio" />
		<mapping class="com.proyecto.modelo.Itinerario" />
		<mapping class="com.proyecto.modelo.Parada" />
	</session-factory>
</hibernate-configuration>
